*data.p
*.ignore.*
**/labs/**/*.jpg
**/labs/email/**
**/labs/nlp/kaggle.json
**/labs/deep_fakes/SimSwap
**/labs/confluence/**
**/data/*.pt
**/__pycache__/**
**/build/**
*.egg-info/**
**/dist/**
**/examples/**/*.csv
**/data/MNIST/**
**/data/CATS_DOGS/**
**/*.egg-info/**
src/data/photo_*.png
src/data/voicenote_*.mp3
